<nav class="navbar navbar-default" role="navigation">
    <div class="container">

      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <%= link_to "Home", articles_path, class: 'navbar-brand' %>
            <% if user_signed_in? %>
            <p>Logged in as <strong><%= current_user.email %></strong></p>
              <% else %>
              <p>Welcome stranger</p>
            <% end %>
      </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                  <li><%= link_to 'My articles', articles_path %></li>
                  <li><%= link_to 'Members', users_path %></li>
                  <li><%= link_to 'New Article', new_article_path %></li>
                  <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
                  <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>

                <% else %>

                  <li><%= link_to 'Posts', articles_path %></li>
                  <li><%= link_to 'Login', new_user_session_path %></li>
                  <li><%= link_to "Sign up", new_user_registration_path %></li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>
